*, * *, * * * {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 1rem;
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 1rem;
}

.accessory-list-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.accessory-list-header > div {
  border-bottom: 1px solid black;
  flex-grow: 1;
  padding: 0rem 0rem 0.5rem 0.5rem;
}
